# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.env

# YOLOv8 weights (too large for Git)
data/models/*.pt

# SQLite database
data/db/*.db
data/db/*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Runs & logs from YOLO training
runs/
